.table-striped-rows tr:nth-child(2n) td {
    background-color: #d1e0e0;
}
.table-striped-rows hover {
    background-color: green;
}

.table-striped-rows hover td {
    background-color: #000;
}

.App {
    justify-content: space-between;
    flex-wrap: wrap;
}
.otstup {
    margin-top: 40px;
    padding: 40px;
}

